<div class="cuadro1">
    <h1 class="text-center"></h1>
    <h1 class="text-center">DIRECTIVA SANITARIA PARA LA VIGILANCIA EPIDEMIOLÓGICA DE LA ENFERMEDAD POR CORONAVIRUS (COVID-19) EN EL PERÚ</h1>
    <!-- <h3 class="text-center" id="fecha">Fecha: 31/12/2020</h3> -->
    
  </div>
       
  <div class="container">
    <div class="cards">
      <button type= "submitap" class="login" style="background: #15b31a;" [routerLink]="['/formulario']"> <a> NUEVO REGISTRO </a></button>
      <h1 class="text-center" style="font-size: 30px;">Ficha de investigación clínico epidemiológica de COVID-19</h1>
      <button type= "submitap" class="login" style="background: #c12323;" [routerLink]="['/']"><a> EXPORTAR </a> </button>
    </div>
  </div>

  <div id="formContent">

    <div class="fadeIn first" style="display: grid;">

      <div><img src="assets/img/logoEsSalud.jpg" id="imagen" alt="Imagen/icono" /></div>
      <div><h2 class="active" style="margin-top: 20px; font-size: 25px; border-bottom: none;"> FICHA DE INVESTIGACIÓN CLÍNICO EPIDEMIOLÓGICA COVID-19</h2> 
        </div>
    </div>
    <!-- Tabs Titles -->
    <!-- <h2 class="active"> FICHA DE INVESTIGACIÓN CLÍNICO EPIDEMIOLÓGICA COVID-19</h2> -->
    <h2 class="active">I. DATOS GENERALES DE LA NOTIFICACIÓN</h2>
      <form>
        
        <div class="cuadroap">
          <p class="textoap">1. Fecha notificación: </p>
          <span> 19/01/2021</span>
          <!-- <div id="">
            <input class="form-controlap" type="date"  name="">
          </div> -->
          <!-- <div class="toggle-btn">
            <input type="checkbox"  checked class="cb-value" />
            <span class="round-btn"></span>
          </div> -->
        </div>

        <div class="cuadroap">
          <p class="textoap">2. GERESA/DIRESA/DIRIS: </p> 
          <span> EsSalud</span>
            <!-- <input class="form-controlap" type="text"  name=""> -->
          
        </div> 

        <div class="cuadroap">
          <p class="textoap">3. IPRESS: </p>
          <span> Sede Central</span> 
          <!-- <div id="">
            <input class="form-controlap" type="text"  name="">
          </div> -->
        </div> 

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">4. Inst. Adm: </p>
          <!-- <span> EsSalud</span> -->
          <!-- 
            <div class="punto4">
                <div class="toggle-btn active">
                    <input type="checkbox" class="cb-value" />
                    <span class="round-btn"></span>
                </div>
              <p class="textoap">MINSA</p> 
            </div> 
            <div class="punto4">
              <div class="toggle-btn active">
                <input type="checkbox" class="cb-value" />
                <span class="round-btn"></span>
              </div>
              <p class="textoap">EsSalud</p> 
            </div> -->
            <div class="punto4">
              <label class="container-checkbox"> EsSalud
                <input type="checkbox" checked="checked" disabled>
                <span class="checkmark"></span>
              </label>
            </div>
            <!-- <div class="punto4">
              <div class="toggle-btn">
                <input type="checkbox" class="cb-value" />
                <span class="round-btn"></span>
              </div>
              <p class="textoap">FFAA/PNP</p> 
            </div>
            <div class="punto4">
              <div class="toggle-btn">
                <input type="checkbox" class="cb-value" />
                <span class="round-btn"></span>
              </div>
              <p class="textoap">Privado</p> 
            </div>
           -->
        </div> 

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">5. Clasificación del caso: </p> 
          <div class="punto4">
            <label class="container-checkbox"> MINSA
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="punto4">
            <label class="container-checkbox"> EsSalud
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="punto4">
            <label class="container-checkbox"> FFAA/PNP
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <!-- <div>
          <button type= "submitap" class="login" style="background: #15b31a;"> <a href="apertura2.html">Registrar</a></button>
          <button type= "submitap" class="login" style="background: #c12323;"> <a href="login.html">Salir</a></button>
        </div> -->
      </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" >EsSalud</a>
    </div>

  </div>

  <div id="formContent">
    <h2 class="active">II. DATOS DEL PACIENTE</h2>
      <form>
        
        <div class="cuadroap">
          <p class="textoap">6. Apellidos y nombres: </p>
          
            <input class="form-controlap" type="text"  value="Alan Salinas Cavero" readonly>
          
          <!-- <div class="toggle-btn">
            <input type="checkbox"  checked class="cb-value" />
            <span class="round-btn"></span>
          </div> -->
        </div>

        <div class="cuadroap">
          <p class="textoap">7. Número de teléfono: </p> 
          
            <input class="form-controlap" type="text"  value="987654321" readonly>
          
        </div> 

        <div class="cuadroap">
          <p class="textoap">8. Fecha de nacimiento: </p> 
          
            <input class="form-controlap" type="text"  value="14/02/1986" readonly>
          
        </div> 

        <div class="cuadroap">
          <p class="textoap">9. Edad: </p> 
          
            <input class="form-controlap" type="text"  value="34" readonly>
         
        </div>

        <div class="cuadroap" >
          <p class="textoap">10. Sexo: </p>
          <input class="form-controlap" type="text"  value="Masculino" readonly>
          
            <!-- <div class="punto4">
              <div class="toggle-btn">
                <input type="checkbox" class="cb-value" />
                <span class="round-btn"></span>
              </div>
              <p class="textoap">Masculino</p> 
            </div>
            <div class="punto4">
              <div class="toggle-btn">
                <input type="checkbox" class="cb-value" />
                <span class="round-btn"></span>
              </div>
              <p class="textoap">Femenino</p> 
            </div> -->
          
        </div>

        <div class="cuadroap">
          <p class="textoap">11. DNI/CE/Pasaporte: </p> 
          
            <input class="form-controlap" type="text"  value="44023182" readonly>
          
        </div>

        <div class="cuadroap">
          <p class="textoap">12. Peso: </p> 
          
            <input class="form-controlap" type="text"  name="" placeholder="Kilogramos">
          
        </div>

        <div class="cuadroap">
          <p class="textoap">13. Talla: </p> 
          
            <input class="form-controlap" type="text"  name="" placeholder="metros">
          
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">14. Etnia o raza: </p> 
          <div class="punto4">
            <label class="container-radio">Mestizo
              <input type="radio" checked="checked" name="radio" disabled>
              <span class="checkmark"></span>
            </label>
          </div>
          <!-- <div class="punto4">
            <label class="container-radio">Andino
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="punto4">
            <label class="container-radio">Asiático descendiente
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="punto4">
            <label class="container-radio">Afrodescendiente
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="punto4">
            <label class="container-radio">Indígena Amazónico
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
          </div>
            <div class="punto5">
              <label class="container-radio">Otro
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
               
              <input class="form-controlap" type="text"  name="">
            </div> -->
        </div> 

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">15. Nacionalidad: </p> 
          <div class="punto4">
            <label class="container-radio">Peruano
              <input type="radio" name="radio15">
              <span class="checkmark"></span>
            </label>
            </div>
            <div class="punto5">
              <label class="container-radio">Extranjero
                <input type="radio" name="radio15">
                <span class="checkmark"></span>
              </label>
              <input class="form-controlap" type="text"  name="" placeholder="País">
            </div>
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">16. Migrante: </p> 
          <div class="punto4">
            <label class="container-radio">Sí
              <input type="radio" name="radio16">
              <span class="checkmark"></span>
            </label>
            </div>
            <div class="punto5">
              <label class="container-radio">No
                <input type="radio" name="radio16">
                <span class="checkmark"></span>
              </label>
              <input class="form-controlap" type="text"  name="" placeholder="País Origen">
            </div>
        </div>

        <div class="cuadroap">
          <p class="textoap">17. Dirección de residencia actual: </p> 
          <div id="">
            <input class="form-controlap" type="text"  name="" placeholder="Dirección">
            <input class="form-controlap" type="text"  name="" placeholder="País">
            <select class="form-controlap" id="dep"> 
                <option>Departamento</option>
                <option>Lima</option>
            </select>
            <select class="form-controlap" id="dep"> 
                <option>Provincia</option>
                <option>Lima</option>
            </select>
            <select class="form-controlap" id="dep"> 
                <option>Distrito</option>
                <option>Lince</option>
                <option>San Isidro</option>
                <option>Miraflores</option>
                <option>SMP</option>
                <option>Los Olivos</option>
            </select>
            
          </div>
        </div>
      </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" >EsSalud</a>
    </div>

  </div>

  <div id="formContent">
    <h2 class="active">III. ANTECEDENTES EPIDEMIOLÓGICOS Y PATOLÓGICOS</h2>
      <form>
        
        <div class="cuadroap">
          <p class="textoap">18. Fecha de inicio de síntomas: </p>
          <div id="">
            <input class="form-controlap" type="date"  name="" >
          </div>
          <p class="textoap">Fecha de inicio de aislamiento: </p>
          <div id="">
            <input class="form-controlap" type="date"  name="" >
          </div>
        </div>

        <div class="cuadroap">
            <p class="textoap">19. Lugar probable de infección: </p> 
            <div>
                <select class="form-controlap" id="dep" > 
                <option>Departamento</option>
                <option>Lima</option>
                </select>
            
                <select class="form-controlap" id="dep" > 
                <option>Provincia</option>
                <option>Lima</option>
                </select>
            
                <select class="form-controlap" id="dep" > 
                <option>Distrito</option>
                <option>Lince</option>
                <option>San Isidro</option>
                <option>Miraflores</option>
                <option>SMP</option>
                <option>Los Olivos</option>
                </select>
            </div>
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">20. Síntomas: </p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-checkbox"> Tos
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Malestar general
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Dolor de oído
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Dolor de garganta
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>

            <div class="punto4">
              <label class="container-checkbox"> Diarrea
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Irritabilidad/confusión
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Congestión nasal
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Naúseas/vómito
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>

            <div class="punto4">
              <label class="container-checkbox"> Dolor muscular
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Dolor de pecho
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Dolor abdominal
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Dolor de articulaciones
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>

            <div class="punto4">
              <label class="container-checkbox"> Dificultad respiratoria
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Cefálea
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Fiebre
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>  
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Anosmia
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>

            <div class="punto4">
              <label class="container-checkbox"> Escalofrío
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Ageusia
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto5">
              <label class="container-checkbox"> Otro
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
              <input class="form-controlap" type="text"  name="" placeholder="Especificar">
            </div>
          <!-- </div> -->
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">21. Signos: </p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-checkbox"> Exudado faríngeo
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Disnea/taquipnea
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Inyección conjuntival
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Auscultación anormal pulmonar
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>

            <div class="punto4">
              <label class="container-checkbox"> Convulsión
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>  
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Hallazgos anormales en radiografía
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>  
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Hallazgos anormales en ecografía
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>  
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Hallazgos anormales en tomografía
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>  
            </div>

            <div class="punto4">
              <label class="container-checkbox"> Hallazgos anormales en RMN
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>  
            </div>
            <div class="punto5">
              <label class="container-checkbox"> Otro
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>  
              <input class="form-controlap" type="text"  name="" placeholder="Especificar">
            </div>
          <!-- </div> -->
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">22. Condiciones de comorbilidad o factores de riesgo:</p>
          <!-- <div> -->
            <div class="punto5">
              <label class="container-checkbox"> Embarazo
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <input class="form-controlap" type="text"  name="" placeholder="Estado gestacional">
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Enfermedad cardiovascular (incluye hipertensión)
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>  
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Diabetes
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>  
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Enfermedad hepática
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>

            <div class="punto4">
              <label class="container-checkbox"> Enfermedad crónica neurológica o neuromuscular
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>  
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Obesidad
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Tuberculosis
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Post parto/aborto (menor igual a 6 semanas o 42 días)
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="punto4">
              <label class="container-checkbox"> Inmuno deficiencia (incluye VIH)
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Enfermedad renal
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Enfermedad pulmonar crónica
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Asma
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Cáncer
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto5">
              <label class="container-checkbox">Otro
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <input class="form-controlap" type="text"  name="" placeholder="Especificar">
            </div>
          <!-- </div> -->
        </div>

        <div class="cuadroap">
          <p class="textoap">23. Fecha de culminación de embarazo: </p> 
          <div id="">
            <input class="form-controlap" type="date"  name="">
          </div>
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">24. Ocupación: </p>
            <!-- <div> -->
            <div class="punto4">
              <label class="container-radio">Trabajador de salud
                <input type="radio" name="radio24">
                <span class="checkmark"></span>
              </label>
            </div>
              <div class="cuadroapts">
                <div class="punto4">
                  <label class="container-checkbox">Médico
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="punto4">
                  <label class="container-checkbox">Laboratorista
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="punto4">
                  <label class="container-checkbox">Enfermera
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="punto4">
                  <label class="container-checkbox">Técnico en enfermería
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="punto4">
                  <label class="container-checkbox">Obstetra
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="punto5">
                  <label class="container-checkbox">Otro
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <input class="form-controlap" type="text"  name="" placeholder="Especificar">
                </div>
              </div>

            <div class="punto4">
              <label class="container-radio">Policía
                <input type="radio"  name="radio24">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-radio">Militar
                <input type="radio" name="radio24">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-radio">Estudiante
                <input type="radio" name="radio24">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto5">
              <label class="container-radio">Otro
                <input type="radio" name="radio24">
                <span class="checkmark"></span>
              </label>
              <input class="form-controlap" type="text"  name="" placeholder="Especificar">
            </div>

          <!-- </div> -->
        </div>

        <div class="cuadroap">
          <p class="textoap">25. Lugar de trabajo: </p> 
            
          
          <div>
            <input class="form-controlap" type="text"  name="" placeholder="IPRESS"/>
            <select class="form-controlap" id="dep"> 
              <option>Departamento</option>
              <option>Lima</option>
            </select>
          
            <select class="form-controlap" id="dep"> 
              <option>Provincia</option>
              <option>Lima</option>
            </select>
          
            <select class="form-controlap" id="dep"> 
              <option>Distrito</option>
              <option>Lince</option>
              <option>San Isidro</option>
              <option>Miraflores</option>
              <option>SMP</option>
              <option>Los Olivos</option>
            </select>
          </div>
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">26. Ha tenido contacto directo con un caso sospechoso, probable o confirmado en los 14 días previos al inicio de los síntomas?: </p> 
          <div class="punto4">
            <label class="container-radio">Sí
              <input type="radio" name="radio26">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="punto4">
            <label class="container-radio">No
              <input type="radio" name="radio26">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="punto4">
            <label class="container-radio">Desconocido
              <input type="radio" name="radio26">
              <span class="checkmark"></span>
            </label>
          </div>

          <div class="cuadroapbtn" style="display: grid;">
            <p class="textoap">Si la respuesta es sí, marque según corresponda: </p> 
            <div class="punto4">
              <label class="container-radio">Entorno de salud
                <input type="radio"  name="radio26a">
                <span class="checkmark"></span>
              </label>
            </div> 
            <div class="punto4">
              <label class="container-radio">Casa de reposo
                <input type="radio"  name="radio26a">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-radio">Desconocido
                <input type="radio"  name="radio26a">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="punto4">
              <label class="container-radio">Entorno familiar
                <input type="radio"  name="radio26a">
                <span class="checkmark"></span>
              </label> 
            </div> 
            <div class="punto4">
              <label class="container-radio">Centro penintenciario
                <input type="radio"  name="radio26a">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-radio">Entorno laboral
                <input type="radio" name="radio26a">
                <span class="checkmark"></span>
              </label>
            </div> 
            <div class="punto4">
              <label class="container-radio">Albergue
                <input type="radio" name="radio26a">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto5">
              <label class="container-radio">Otro
                <input type="radio" name="radio26a">
                <span class="checkmark"></span>
              </label>
              <input class="form-controlap" type="text"  name="" placeholder="Especificar" >
            </div>
          </div> 
        </div>
      </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" >EsSalud</a>
    </div>
  </div>

  <div id="formContent">
    <h2 class="active" style="text-transform: inherit;">IV. HOSPITALIZACIÓN (Si fue hospitalizado, complete la siguiente información)</h2>
      <form>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">27. Hospitalizado: </p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-radio">Sí
                <input type="radio" name="radio27">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="punto4">
              <label class="container-radio">No
                <input type="radio" name="radio27">
                <span class="checkmark"></span>
              </label>
            </div>
          <!-- </div> -->
        </div>
        
        <div class="cuadroap">
          <p class="textoap">28. Fecha de hospitalización: </p>
          <div id="">
            <input class="form-controlap" type="date"  name="">
          </div>
        </div>

        <div class="cuadroap">
          <p class="textoap">29. Nombre del hospital: </p> 
          <div id="">
            <input class="form-controlap" type="text"  name="">
          </div>
          <p class="textoap">Tipo de seguro: </p> 
          <div id="">
            <input class="form-controlap" type="text"  name="">
          </div>
        </div>

        <div class="cuadroap">
          <p class="textoap">30. Diagnóstico de ingreso: </p> 
          <div id="">
            <input class="form-controlap" type="text"  name="">
          </div>
        </div>
        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">31. Signos: </p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-checkbox"> Convulsión
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Disnea/taquipnea
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Coma
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Auscultación pulmonar anormal
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Hallazgos anormales en radiografía
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Hallazgos anormales en ecografía
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-checkbox"> Hallazgos anormales en tomografía
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="punto4">
              <label class="container-checkbox"> Hallazgos anormales en RMN
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto5">
              <label class="container-checkbox"> Otro
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <input class="form-controlap" type="text"  name="" placeholder="Especificar">
            </div>
          <!-- </div> -->
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">32. Servicio de hospitalización:</p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-checkbox"> Sala de aislamiento
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-checkbox"> UCI
                <input type="checkbox">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto5">
              <label class="container-checkbox"> Otro
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <input class="form-controlap" type="text"  name="" placeholder="Especificar">
            </div>
          <!-- </div> -->
        </div>
        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">33. El paciente estuvo en ventilación mecánica: </p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-radio">Sí
                <input type="radio" name="radio33">
                <span class="checkmark"></span>
              </label> 
            </div>

            <div class="punto4">
              <label class="container-radio">No
                <input type="radio" name="radio33">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-radio">Desconocido
                <input type="radio" name="radio33">
                <span class="checkmark"></span>
              </label>
            </div>
          <!-- </div> -->
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">34. El caso está o estuvo intubado en algún momento durante la enfermedad?</p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-radio">Sí
                <input type="radio" name="radio34">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="punto4">
              <label class="container-radio">No
                <input type="radio" name="radio34">
                <span class="checkmark"></span>
              </label> 
            </div>
          <!-- </div> -->
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">35. El caso tiene o tuvo diagnóstico de nuemonía durante la enfermedad?</p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-radio">Sí
                <input type="radio" name="radio35">
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="punto4">
              <label class="container-radio">No
                <input type="radio" name="radio35">
                <span class="checkmark"></span>
              </label>
            </div>
          <!-- </div> -->
        </div>
      </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" >EsSalud</a>
    </div>
  </div>

  <div id="formContent">
    <h2 class="active" style="text-transform: inherit;">V. EVOLUCIÓN</h2>
      <form>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">36. Evolución del paciente: </p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-radio">Favorable
                <input type="radio" name="radio36">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-radio">Desfavorable
                <input type="radio" name="radio36">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-radio">Falleció
                <input type="radio" name="radio36">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-radio">Alta
                <input type="radio" name="radio36">
                <span class="checkmark"></span>
              </label> 
            </div>
          <!-- </div> -->
        </div>
        
        <div class="cuadroap">
          <p class="textoap">37. Fecha de alta, si aplica: </p>
          <div id="">
            <input class="form-controlap" type="date"  name="">
          </div>
        </div>

        <div class="cuadroap">
          <p class="textoap">38. Fecha de defunción, si aplica: </p>
          <div id="">
            <input class="form-controlap" type="date"  name="">
          </div>
          <p class="textoap">39. Hora: </p>
          <div id="">
            <input class="form-controlap" type="time"  placeholder="hora de defunción">
          </div>

        </div>
        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">40. Lugar de defunción: </p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-radio">Hospital/Clínica
                <input type="radio" name="radio40">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-radio">Centro de aislamiento temporal
                <input type="radio" name="radio40">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-radio">Vía pública
                <input type="radio" name="radio40">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-radio">Vivienda
                <input type="radio" name="radio40">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-radio">Centro penintenciario
                <input type="radio" name="radio40">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto5">
              <label class="container-radio">Otro
                <input type="radio" name="radio40">
                <span class="checkmark"></span>
              </label>
              <input class="form-controlap" type="text"  name="" placeholder="Especificar">
            </div>
          <!-- </div> -->
        </div>
      </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" >EsSalud</a>
    </div>
  </div>

  <div id="formContent">
    <h2 class="active" style="text-transform: inherit;">VI. LABORATORIO</h2>
      <form>

        <div class="cuadroap">
          <p class="textoap">41. Fecha de toma de muestra: </p>
          <div id="">
            <input class="form-controlap" type="date"  name="">
          </div>
        </div>

        <div class="cuadroap">
          <p class="textoap">42. Tipo de muestra: </p>
          <div id="">
            <input class="form-controlap" type="text"  name="">
          </div>
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">43. Tipo de prueba: </p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-radio">Prueba Molecular
                <input type="radio" name="radio43">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-radio">Prueba Antigénica
                <input type="radio" name="radio43">
                <span class="checkmark"></span>
              </label> 
            </div>
            <div class="punto4">
              <label class="container-radio">Prueba Serológica
                <input type="radio" name="radio43">
                <span class="checkmark"></span>
              </label>
            </div>
          <!-- </div> -->
        </div>

        <div class="cuadroapbtn" style="display:grid;">
          <p class="textoap">44. Resultado: </p>
          <!-- <div> -->
            <div class="punto4">
              <label class="container-radio">Positivo
                <input type="radio" name="radio44">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="punto4">
              <label class="container-radio">Negativo
                <input type="radio" name="radio44">
                <span class="checkmark"></span>
              </label>
            </div>
          <!-- </div> -->
        </div>

        <div class="cuadroap">
          <p class="textoap">45. Fecha de resultado: </p>
          <div id="">
            <input class="form-controlap" type="date"  name="">
          </div>
        </div>
      </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" >EsSalud</a>
    </div>
  </div>

  <div id="formContent">
    <h2 class="active" style="text-transform: inherit;">VII. INVESTIGADOR</h2>
      <form>

        <div class="cuadroap">
          <p class="textoap">46. Persona que llena la ficha: </p>
          <div id="">
            <input class="form-controlap" type="text"  name="">
          </div>
        </div>
      </form>
    <div id="formFooter">
      <a class="underlineHover" >EsSalud</a>
    </div>
  </div>
  
  <div>
    <button type= "submitap" class="login" style="background: #15b31a;"> <a>Registrar</a></button>
    <button type= "submitap" class="login" style="background: #c12323;" [routerLink]="['/']"> <a>Salir</a> </button>
  </div>
      
  